<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="Расписание КТИ"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default"/>

        <receiver
            android:name=".widgets.TodayScheduleWidgetProvider"
            android:label="@string/widget_today_schedule_desc"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_today_schedule_info"/>
        </receiver>
        <receiver
            android:name=".widgets.CurrentLessonWidgetProvider"
            android:label="@string/widget_current_lesson_desc"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_current_lesson_info"/>
        </receiver>
        <receiver
            android:name=".widgets.WeekSummaryWidgetProvider"
            android:label="@string/widget_week_summary_desc"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_week_summary_info"/>
        </receiver>
        <!-- Minute-tick driver for the live "осталось N мин" counter. -->
        <receiver
            android:name=".widgets.WidgetTickReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ru.ncti.schedule.client.widgets.TICK"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
